.single-product-container {
  margin-top: 100px;
  padding: 0;
}

@media (max-width: 300px) {
  .single-product-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.loader-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}
