.single-product-container {
  margin-top: 100px;
  padding: 0;
}


.cart {
  background-color: #28a745; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cart:hover {
  background-color: #218838;
}

.cart:active {
  transform: scale(0.95); 
}
